.flexbox-container{
    display: flex;
    padding: 3%;
    flex-direction: row;
    border-style: dashed;
}

.flexbox-item{
    border-style: solid;
    text-align: center;
  /*  width: 10px;*/
}


#item1{
    flex: 5;
}

#item2{
    flex: 4;
}

#item3{
    flex: 2;
}







#item4{
    flex: 2;
}

#item5{
    flex: 2;
}

#item6{
    flex: 2;
}

#item7{
    flex: 2;
}


.flexbox-container-style{
    display: flex;
    padding: 3%;
    height: 250px;
    flex-direction: row;
    border-style: dashed;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.flexbox-second{
    border-style: solid;
    text-align: center;
    width: 500px;
}

.flexbox-third{
    padding: 5%;
    text-align: justify;
    width: 200px;
    height: 100px;
  
    justify-content: space-around;
    /*flex-wrap: wrap;
    flex-direction: column;*/
    flex-flow: column now;
}


.flexbox-sub-container{
    display: flex;
}

.style-div{
    border-style: double;
}