.mainContainer{
    display: flex;
    background-color: antiquewhite;
}
.itemInformation{
    flex: 1;
    justify-content: center;
    text-align: justify;
    padding: 2%;
}
.inputContainer{
    color: brown;
    background-color: cadetblue;
    text-align: justify;
}